name: TDR Run Lambda Tests
on:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@cd362ffa9386c007c816bfd15a25b6f0a3c3b3d6 # v0.0.14
    with:
      repo-name: tdr-statuses
      test-command: |
        sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
